
<div *ngIf="dateInterval">
    <h2><span>Date Interval</span> {{dateInterval.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{dateInterval.fromDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
            <span>{{dateInterval.toDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Marked</span></dt>
        <dd>
            <div *ngIf="dateInterval.marked">
                <a [routerLink]="['/marked', dateInterval.marked?.id]">{{dateInterval.marked?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'date-interval/'+ dateInterval.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
