<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarkedLabel">Create or edit a Marked</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!marked.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="marked.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="marked.name" required minlength="3" maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_markedInformation">Marked Information</label>
            <input type="text" class="form-control" name="markedInformation" id="field_markedInformation"
                [(ngModel)]="marked.markedInformation" required minlength="1" maxlength="256" />
            <div [hidden]="!(editForm.controls.markedInformation?.dirty && editForm.controls.markedInformation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedInformation?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedInformation?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedInformation?.errors?.maxlength">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_markedRules">Marked Rules</label>
            <input type="text" class="form-control" name="markedRules" id="field_markedRules"
                [(ngModel)]="marked.markedRules" required minlength="1" maxlength="256" />
            <div [hidden]="!(editForm.controls.markedRules?.dirty && editForm.controls.markedRules?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedRules?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedRules?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.markedRules?.errors?.maxlength">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_entreInfo">Entre Info</label>
            <input type="text" class="form-control" name="entreInfo" id="field_entreInfo"
                [(ngModel)]="marked.entreInfo" required minlength="1" maxlength="256" />
            <div [hidden]="!(editForm.controls.entreInfo?.dirty && editForm.controls.entreInfo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entreInfo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entreInfo?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entreInfo?.errors?.maxlength">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateExtraInfo">Date Extra Info</label>
            <input type="text" class="form-control" name="dateExtraInfo" id="field_dateExtraInfo"
                [(ngModel)]="marked.dateExtraInfo" maxlength="256" />
            <div [hidden]="!(editForm.controls.dateExtraInfo?.dirty && editForm.controls.dateExtraInfo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateExtraInfo?.errors?.maxlength">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="marked.address" required minlength="2" maxlength="256" />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.maxlength">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="marked.latitude" required />
            <div [hidden]="!(editForm.controls.latitude?.dirty && editForm.controls.latitude?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.latitude?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.latitude?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="marked.longitude" required />
            <div [hidden]="!(editForm.controls.longitude?.dirty && editForm.controls.longitude?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.longitude?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.longitude?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_enableBooking">Enable Booking</label>
            <input type="checkbox" class="form-control" name="enableBooking" id="field_enableBooking"
                [(ngModel)]="marked.enableBooking"  />
            <div [hidden]="!(editForm.controls.enableBooking?.dirty && editForm.controls.enableBooking?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enableBooking?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_organizer">Organizer</label>
            <select class="form-control" id="field_organizer" name="organizer" [(ngModel)]="marked.organizer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organizerOption.id === marked.organizer?.id ? marked.organizer : organizerOption" *ngFor="let organizerOption of organizers; trackBy: trackOrganizerById">{{organizerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
